<div class="container">
  <br />
  <div class="row">
    <div class="col">
      To Do
    </div>
    <div class="col">
      In Progress
    </div>
    <div class="col">
      Review
    </div>
    <div class="col">
      Done
    </div>
  </div>
  <br />
  <div id="row1" class="row justify-content-md-center">
    <div id="todoColumn1" class="col">
      <div id="card1" class="card">
        <h5 class="card-header primary-color white-text">Card 1</h5>
        <div class="card-body">
          <p class="card-text">I'm card 1</p>
        </div>
      </div>
    </div>
    <div id="inprogressColumn1" class="col">

    </div>
    <div id="reviewColumn1" class="col">

    </div>
    <div id="completeColumn1" class="col">

    </div>
  </div>
  <br />
  <div id="row2" class="row justify-content-md-center">
    <div id="todoColumn2" class="col">
      
    </div>
    <div id="inprogressColumn2" class="col">
        <div id="card2" class="card">
            <h5 class="card-header deep-orange white-text">Card 2</h5>
            <div class="card-body">
              <p class="card-text">I'm card 2</p>
            </div>
          </div>
    </div>
    <div id="reviewColumn2" class="col">
        
    </div>
    <div id="completeColumn2" class="col">

    </div>
  </div>
  <br />
</div>
      
<button><a routerLink="/">Close Tasklist</a></button>