<br />
<input id="newCardDescriptionInput" name="newCardDescriptionInput" type="text" placeholder="New Card Description"><button id="createNewCardBtn" (click)="newCard()">Create New Card</button>
<br />
<br />
<button (click)="save()">Save Updates</button>
<button><a routerLink="/">Close Tasklist</a></button>
<br />
<div class="container">
  <br />
  <div id="row_0" class="row">
    <div class="col">
      To Do
    </div>
    <div class="col">
      In Progress
    </div>
    <div class="col">
      Review
    </div>
    <div class="col">
      Complete
    </div>
  </div>
  <br />
</div>
<br/>
